In [ ]:
num1 = 6
num2 = 10
num3 = 32/3

In [ ]:
print('num1',num1)

In [ ]:
str1 = 'welcome'
str2 = ' to edurek'
str3 = str1 +str2

In [ ]:
print('str3 is', str3)

In [ ]:
print(str3[0:15])

In [ ]:
print(str3[-5:])

In [ ]:
print(str3[:-5])

In [ ]:
str4 = 'welcome%university%class'
str4.split('%')

In [ ]:
countries = ['India','Australia','United States', 'Canada','Singapore']

In [ ]:
countries

In [ ]:
print(len(countries))
print(countries)
countries.append('Brazil')
print(countries)
countries.insert(2,'United Kingdom')

In [ ]:
countries

In [ ]:
countries_short = ['in','aus','us','pak','brz']
print(countries.extend(countries_short))

In [ ]:
sports_tuple =('Cricket','Basketall','Football')
sports_list = list(sports_tuple)
sports_list.append('Baseball')
print(sports_list)
print(sports_tuple)

In [ ]:
a = [1,3,5,7,9]
b = [2,4,6,8,10]
c =a+b
c.sort()

In [ ]:
c

In [ ]:
d = sorted(a+b)

In [ ]:
d

In [11]:
#if
num = int(input('Enter your lucky number:'))
if num ==2:
    print('Your lucky number is two')
else:
    print('Your lucky number is not two')

Enter your lucky number:3
Your lucky number is not two

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(1,11):
    if i%2==0:
         print(i,'is even') 
    else:
i=0         print(i,'is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [9]:
x=0
while x <10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

In [18]:
willing = input('willing to book tickets: ')
passengers = int(input('no of passengers: '))
names = input('name: ')
age = int(input('age: '))
gender = input('gender: ')
print(names)

willing to book tickets: yes
no of passengers: 2
name: vr
age: 23
gender: m
vr

In [30]:
for num in range(10,21):
    if num %5 ==0:
        print('Found a multiple of 5', num)
        pass
        num = num +1
        continue
    print('found number: ', num)

Found a multiple of 5 10
found number:  11
found number:  12
found number:  13
found number:  14
Found a multiple of 5 15
found number:  16
found number:  17
found number:  18
found number:  19
Found a multiple of 5 20